<header class="header-top-strip py-3">
      <div>
        <img src="assets/images/identity-images/logo-transaparent.png" class='logo' alt="logo"/>
      </div>
     <div class='header-top-strip'>
         <div>
           <li class='header-options gap-10' to="/compare-products">
             <p class="mb-0">Price <br/>comparator</p>
           </li>
         </div>
         <div>
           <li class='header-options gap-10' to="/wishlist">
             <p class="mb-0">My <br/>Favorites </p>
           </li>
         </div>
         <div>
           <li class='header-options gap-10'>
           </li>
         </div>
         <div>
           <li class='header-options gap-10' to="/cart">
             <div class='d-flex flex-column gap-10'>
               <span class='badge bg-white shopping-badge'>0</span>
               <p class="mb-0">Shopping</p>
             </div>
           </li>
         </div>
       </div>
       <div class='header-top-strip-last'>
         <div>
           <li class='header-options gap-10' to="/compare-products">
             <p class="mb-0">Price <br/>comparator</p>
           </li>
         </div>
         <div>
           <li class='header-options gap-10' to="/wishlist">
             <p class="mb-0">My <br/>Favorites </p>
           </li>
         </div>
         <div>
           <li class='header-options gap-10'>
           </li>
         </div>
         <div>
           <li class='header-options gap-10' to="/cart">
             <div class='d-flex flex-column gap-10'>
               <span class='badge bg-white shopping-badge'>0</span>
               <p class="mb-0">Shopping</p>
             </div>
           </li>
         </div>
       </div>
 </header>